@model S.student.Models.Enrollment

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Enrollment</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.enrollment_date)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.enrollment_date)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Cours.course_name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Cours.course_name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Student.first_name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Student.first_name)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.enrollment_id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
